 .navbar {
   margin-bottom: 0;
   border-radius: 0;
 }
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 90%;
    position: absolute;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
    width:100%;
    position:fixed;
    bottom: 0px;
    
  }
  #container{
  	  min-height: 400px;
  	  position: absolute;
     right: 0px;
  }
  .table>tbody>tr>td, .table>tbody>tr>th {
    padding: 5px;
    line-height: 1.42857143;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    vertical-align:middle;
}